services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: mariadb:12
    environment:
      MARIADB_ROOT_PASSWORD: password
      MYSQL_DATABASE: reczemi
    ports:
      - "3306:3306"
    volumes:
      - ./db_data:/var/lib/mysql
